{% load static %}
{% include 'header.html' %}
{% include 'leftnav.html' %}
{% include 'style.html' %}
<script>
    var i=1;
    function indexs() {
        location.href='/index/'
    }
</script>

<div id="content">
    <div id="content-header">
        <h1>违约项目查询</h1>
    </div>
    <div id="breadcrumb">
        <a href="javascript:;" onclick="indexs()" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> 首页</a>
        <a href="#">业务管理</a>
        <a href="/showBusiness/" class="current">违约项目</a>
    </div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title">
								<span class="icon">
									<i class="icon-th"></i>
								</span>
                        <h5>业务信息</h5>
                    </div>
                    <div class="widget-content nopadding">
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>编号</th>
                                <th>办理日期</th>
                                <th>产品名称</th>
                                <th>客户名称</th>
                                <th>受理状态</th>
                                <th>放款日期</th>
                                <th>手机号码</th>
                                <th>身份证号码</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for applys in applylists %}
                                {% if applys.yq == 1 %}
                                    <tr>
                                        <td><script>document.write(i);i++;</script></td>
                                        {% for pid in productlists %}
                                            {% if pid.Uid.name == applys.Uid.name and pid.Pid.p_name == applys.Pid.p_name %}
                                                <td>{{ pid.up_time | date:'Y-m-d H:i' }}</td>
                                                <td>{{ pid.Pid.p_name }}</td>
                                            {% endif %}
                                        {% endfor %}
                                        <td>{{ applys.Uid.name }}</td>
                                        <td>违约</td>
                                        <td>{{ applys.lendtime | date:'Y-m-d H:i' }}</td>
                                        <td>{{ applys.Uid.tel }}</td>
                                        <td>{{ applys.Uid.card }}</td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div id="pages" style="height: 50px;margin-top:-65px;padding-bottom: 0.2em"></div>
                              <script>
                    /**
                     * layout 参数说明：
                     *
                     * total： 总条数
                     * sizes: 显示每页条数选择框，
                     * home： 首页按钮
                     * prev： 上一页按钮
                     * pager： 页码
                     * last： 尾页按钮
                     * next： 下一页按钮
                     * jumper： 输入框跳转（包含事件：失去焦点，回车）触发
                     *
                     * */
                     new Pagination({
                        element: '#pages',  // 渲染的容器  [必填]
                        type: 1,  // 样式类型，默认1 ，目前可选 [1,2] 可自行增加样式   [非必填]
                        layout: 'total, home, prev, pager, next, last, jumper',  // [必填]
                        pageIndex: {{ applylists.number }}, // 当前页码 [非必填]
                        pageSize: 13, // 每页显示条数   TODO: 如果使用了sizes这里就无须传参，传了也无效 [必填]
                        pageCount: 9, // 页码显示数量，页码必须大于等于5的奇数，默认页码9  TODO:为了样式美观，参数只能为奇数， 否则会报错 [非必填]
                        total: {{ applylists.paginator.count }}, // 数据总条数 [必填]
                        singlePageHide: false,  // 单页隐藏， 默认true  如果为true页码少于一页则不会渲染 [非必填]
                        pageSizes: [10, 20, 30, 40, 50], // 选择每页条数  TODO: layout的sizes属性存在才生效
                        prevText: '上一页', // 上一页文字，不传默认为箭头图标  [非必填]
                        nextText: '下一页', // 下一页文字，不传默认为箭头图标 [非必填]
                        ellipsis: true, // 页码显示省略符 默认false  [非必填]
                        disabled: true, // 显示禁用手势 默认false  [非必填]
                        currentChange: function(index, pageSize) {  // 页码改变时回调  TODO:第一个参数是当前页码，第二个参数是每页显示条数数量，需使用sizes第二参数才有值。
                            console.log(index,pageSize);
                            location.href='?page='+index;
                        }
                    });
                </script>
                </div>
            </div>
        </div>
    </div>
{% include 'footer.html' %}
</div>
<script src="{% static 'js/jquery.uniform.js' %}"></script>
<script src="{% static 'js/select2.min.js' %}"></script>
<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/unicorn.tables.js' %}"></script>
</body>
</html>