{% load static %}
<!-- Contact Begin -->
    <div class="contact-widget set-bg contactbegin">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="contact__widget__item">
                                <h4>New York Office</h4>
                                <p>917 Atlantic Lane, Strongsville, NY, United State</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="contact__widget__item">
                                <h4>New Jersey Office</h4>
                                <p>1 Walnut Court, East Orange, NJ, United State</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="contact__widget__phone">
                        <span>Contact Us Now!</span>
                        <h2>(+12) 345-678-910</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>