{% load static %}
<style>
{#    .footer_left{#}
{#        width: 300px;#}

{#    .footer_mide{#}
{#        width: 300px;#}
{#        margin-left: 670px;#}
{#        margin-top: -120px;#}
{#    }#}
{#    .footer_right{#}
{#        width: 300px;#}
{#        margin-left: 1350px;#}
{#        margin-top: -120px;#}
{#    }#}
{#    .weibo{#}
{#        margin-left: 150px;#}
{#        margin-top: -140px;#}
{#    }#}
{#    .weixin{#}
{#        margin-left: -120px;#}
{#    }#}
{#    ul li{#}
{#        list-style-type: none;#}
{#    }#}
{#    .span{#}
{#        color: orangered;#}
{#        font-size: 16px;#}
{#    }#}
{#    .left{#}
{#        display: block;#}
{#        margin-left: -10px;#}
{#    }#}
{#    .mide{#}
{#        display: block;#}
{#        margin-left: -5px;#}
{#    }#}
</style>
<div class="row-fluid">
    <div id="footer" class="span12">
        <div class="span4" >
            <h5 >热门产品</h5>
            <ul class="unstyled" >
                <li>小额贷款</li>
                <li>融资租赁</li>
                <li>助攻助产</li>
            </ul>
        </div>
        <div class="span4" >
            <h5 class="span">联系我们</h5>
            <ul class="unstyled">
                <li style="color: red;font-size: 18px;font-weight: 600;">400-090-3910</li>
                <li>西安地址:省体育场陕西高速大厦</li>
                <li>分公司未来可期</li>
            </ul>
        </div>
        <div class="span4">
            <h5>关注我们了解最新动态</h5>
            <div class="row-fluid ">
                <div class="span2 offset4">
                    <img style="width: 80px;height: 80px;" src="{% static 'img/index-weixin.png' %}" >
                    <p>关注微信</p>
                </div>
                <div class="span2">
                    <img style="width: 80px;height: 80px;" src="{% static 'img/index-sina.png' %}" >
                    <p>关注微博</p>
                </div>
            </div>
        </div>
    </div>
</div>