{% load static %}
{% include 'header.html' %}
{% include 'leftnav.html' %}
{% include 'style.html' %}
<script src="/static/js/echarts.js"></script>

<div id="content">
    <div id="content-header">
        <h1>首页</h1>
    </div>
    <div id="breadcrumb">
        <a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> 首页</a>
        <a href="javascript:;" class="current">信息总览</a>
    </div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12 center" style="text-align: center;">
                <div class="alert alert-info">
                    公告: <strong>欢迎使用贷贷相传</strong>.目前的系统已是最新版本.
                    <a href="#" data-dismiss="alert" class="close">×</a>
                </div>
                <ul class="stat-boxes">
                    <li>
                        <div class="left peity_bar_good"><span>2,4,9,7,12,10,12</span> </div>
                        <div class="right">
                            <strong>{{ audit_no }}</strong>
                            待审核订单
                        </div>
                    </li>
                    <li>
                        <div class="left peity_bar_neutral"><span>20,15,18,14,10,9,9,9</span> </div>
                        <div class="right">
                            <strong>{{ ll }}</strong>
                            需催收订单
                        </div>
                    </li>
                    <li>
                        <div class="left peity_bar_bad"><span>3,5,9,7,12,20,10</span> </div>
                        <div class="right">
                            <strong>{{ grant_no }}</strong>
                            待放款订单
                        </div>
                    </li>
                    <li>
                        <div class="left peity_line_good"><span>12,6,9,23,14,10,17</span> </div>
                        <div class="right">
                            <strong>{{ yq }}</strong>
                            已逾期账单
                        </div>
                    </li>
                </ul>
               <ul class="stat-boxes">
                    <li>
                        <div class="left peity_bar_good"><span>2,4,9,7,12,10,12</span> </div>
                        <div class="right">
                            <strong>{{ audit_pass }}</strong>
                            已审核订单
                        </div>
                    </li>
                    <li>
                        <div class="left peity_bar_neutral"><span>20,15,18,14,10,9,9,9</span> </div>
                        <div class="right">
                            <strong>0</strong>
                            已分配订单
                        </div>
                    </li>
                    <li>
                        <div class="left peity_bar_bad"><span>3,5,9,7,12,20,10</span> </div>
                        <div class="right">
                            <strong>{{ grant_pass }}</strong>
                            已放款订单
                        </div>
                    </li>
                    <li>
                        <div class="left peity_line_good"><span>12,6,9,23,14,10,17</span> </div>
                        <div class="right">
                            <strong>0</strong>
                            已结清账单
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">

                <div class="widget-box">
                    <div class="widget-title"><span class="icon"><i class="icon-signal"></i></span>
                        <h5>数据统计</h5>
                        <div class="buttons"><a href="/index/" class="btn btn-mini"><i class="icon-refresh"></i> 更新</a>
                        </div>
                    </div>
                    <div class="widget-content">
                        <div class="row-fluid">
                            <div class="span4">
                                <ul class="site-stats">
                                    <li><i class="icon-user"></i> <strong>{{ au }}</strong>
                                        <small>累计用户数量</small>
                                    </li>
                                    <li><i class="icon-list-alt"></i> <strong>{{ orders }}</strong>
                                        <small>累计申请订单数量</small>
                                    </li>
{#                                    <li class="divider"></li>#}
                                    <li><i class="icon-ok" ></i> <strong>{{ grant_pass }}</strong>
                                        <small>累计通过订单数量</small>
                                    </li>
                                    <li><i class="icon-fire"></i>
                                        <strong>
                                            {% if grant_money >= 10000 %}
                                                {% widthratio grant_money 10000 1%}
                                                万元
                                            {% else %}
                                                {{ grant_money }} 元
                                            {% endif %}
                                        </strong>
                                        <small>累计放款金额</small>
                                    </li>
                                    <li><i class="icon-fire"></i>
                                        <strong>
                                            {% if orders_money >= 10000 %}
                                                {% widthratio orders_money 10000 1%}
                                                万元
                                            {% else %}
                                                {{ orders_money }} 元
                                            {% endif %}
                                        </strong>
                                        <small>累计通过订单金额</small>
                                    </li>
                                </ul>
                            </div>
                            <div class="span8">
{#                                <div class="chart"></div>#}
                                <div id="main" style="height:350px;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{#        <div class="row-fluid">#}
{#            <div class="span6">#}
{#                <div class="widget-box">#}
{#                    <div class="widget-title"><span class="icon"><i class="icon-file"></i></span><h5>Recent Posts</h5>#}
{#                        <span title="54 total posts" class="label label-info tip-left">54</span></div>#}
{#                    <div class="widget-content nopadding">#}
{#                        <ul class="recent-posts">#}
{#                            <li>#}
{#                                <div class="user-thumb">#}
{#                                    <img width="40" height="40" alt="User" src="{% static 'img/demo/av2.jpg' %}"/>#}
{#                                </div>#}
{#                                <div class="article-post">#}
{#                                    <span class="user-info"> By: neytiri on 2 Aug 2012, 09:27 AM, IP: 186.56.45.7 </span>#}
{#                                    <p>#}
{#                                        <a href="#">Vivamus sed auctor nibh congue, ligula vitae tempus pharetra...</a>#}
{#                                    </p>#}
{#                                    <a href="#" class="btn btn-primary btn-mini">Edit</a> <a href="#"#}
{#                                                                                             class="btn btn-success btn-mini">Publish</a>#}
{#                                    <a href="#" class="btn btn-danger btn-mini">Delete</a>#}
{#                                </div>#}
{#                            </li>#}
{#                            <li>#}
{#                                <div class="user-thumb">#}
{#                                    <img width="40" height="40" alt="User" src="{% static 'img/demo/av3.jpg' %}"/>#}
{#                                </div>#}
{#                                <div class="article-post">#}
{#                                    <span class="user-info"> By: john on on 24 Jun 2012, 04:12 PM, IP: 192.168.24.3 </span>#}
{#                                    <p>#}
{#                                        <a href="#">Vivamus sed auctor nibh congue, ligula vitae tempus pharetra...</a>#}
{#                                    </p>#}
{#                                    <a href="#" class="btn btn-primary btn-mini">Edit</a> <a href="#"#}
{#                                                                                             class="btn btn-success btn-mini">Publish</a>#}
{#                                    <a href="#" class="btn btn-danger btn-mini">Delete</a>#}
{#                                </div>#}
{#                            </li>#}
{#                            <li>#}
{#                                <div class="user-thumb">#}
{#                                    <img width="40" height="40" alt="User" src="{% static 'img/demo/av1.jpg' %}"/>#}
{#                                </div>#}
{#                                <div class="article-post">#}
{#                                    <span class="user-info"> By: michelle on 22 Jun 2012, 02:44 PM, IP: 172.10.56.3 </span>#}
{#                                    <p>#}
{#                                        <a href="#">Vivamus sed auctor nibh congue, ligula vitae tempus pharetra...</a>#}
{#                                    </p>#}
{#                                    <a href="#" class="btn btn-primary btn-mini">Edit</a> <a href="#"#}
{#                                                                                             class="btn btn-success btn-mini">Publish</a>#}
{#                                    <a href="#" class="btn btn-danger btn-mini">Delete</a>#}
{#                                </div>#}
{#                            </li>#}
{#                            <li class="viewall">#}
{#                                <a title="View all posts" class="tip-top" href="#"> + View all + </a>#}
{#                            </li>#}
{#                        </ul>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <div class="span6">#}
{#                <div class="widget-box">#}
{#                    <div class="widget-title"><span class="icon"><i class="icon-comment"></i></span><h5>Recent#}
{#                        Comments</h5><span title="88 total comments" class="label label-info tip-left">88</span></div>#}
{#                    <div class="widget-content nopadding">#}
{#                        <ul class="recent-comments">#}
{#                            <li>#}
{#                                <div class="user-thumb">#}
{#                                    <img width="40" height="40" alt="User" src="{% static 'img/demo/av1.jpg' %}"/>#}
{#                                </div>#}
{#                                <div class="comments">#}
{#                                    <span class="user-info"> User: michelle on IP: 172.10.56.3 </span>#}
{#                                    <p>#}
{#                                        <a href="#">Vivamus sed auctor nibh congue, ligula vitae tempus pharetra...</a>#}
{#                                    </p>#}
{#                                    <a href="#" class="btn btn-primary btn-mini">Edit</a> <a href="#"#}
{#                                                                                             class="btn btn-success btn-mini">Approve</a>#}
{#                                    <a href="#" class="btn btn-warning btn-mini">Mark as spam</a> <a href="#"#}
{#                                                                                                     class="btn btn-danger btn-mini">Delete</a>#}
{#                                </div>#}
{#                            </li>#}
{#                            <li>#}
{#                                <div class="user-thumb">#}
{#                                    <img width="40" height="40" alt="User" src="{% static 'img/demo/av3.jpg' %}"/>#}
{#                                </div>#}
{#                                <div class="comments">#}
{#                                    <span class="user-info"> User: john on IP: 192.168.24.3 </span>#}
{#                                    <p>#}
{#                                        <a href="#">Vivamus sed auctor nibh congue, ligula vitae tempus pharetra...</a>#}
{#                                    </p>#}
{#                                    <a href="#" class="btn btn-primary btn-mini">Edit</a> <a href="#"#}
{#                                                                                             class="btn btn-success btn-mini">Approve</a>#}
{#                                    <a href="#" class="btn btn-warning btn-mini">Mark as spam</a> <a href="#"#}
{#                                                                                                     class="btn btn-danger btn-mini">Delete</a>#}
{#                                </div>#}
{#                            </li>#}
{#                            <li>#}
{#                                <div class="user-thumb">#}
{#                                    <img width="40" height="40" alt="User" src="{% static 'img/demo/av2.jpg' %}"/>#}
{#                                </div>#}
{#                                <div class="comments">#}
{#                                    <span class="user-info"> User: neytiri on IP: 186.56.45.7 </span>#}
{#                                    <p>#}
{#                                        <a href="#">Vivamus sed auctor nibh congue, ligula vitae tempus pharetra...</a>#}
{#                                    </p>#}
{#                                    <a href="#" class="btn btn-primary btn-mini">Edit</a> <a href="#"#}
{#                                                                                             class="btn btn-success btn-mini">Approve</a>#}
{#                                    <a href="#" class="btn btn-warning btn-mini">Mark as spam</a> <a href="#"#}
{#                                                                                                     class="btn btn-danger btn-mini">Delete</a>#}
{#                                </div>#}
{#                            </li>#}
{#                            <li class="viewall">#}
{#                                <a title="View all comments" class="tip-top" href="#"> + View all + </a>#}
{#                            </li>#}
{#                        </ul>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#        <div class="row-fluid">#}
{#            <div class="span12">#}
{#                <div class="widget-box widget-calendar">#}
{#                    <div class="widget-title"><span class="icon"><i class="icon-calendar"></i></span><h5>Calendar</h5>#}
{#                    </div>#}
{#                    <div class="widget-content nopadding">#}
{#                        <div class="calendar"></div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}

    </div>
    {% include 'footer.html' %}
</div>
</body>
</html>
<script>
var c = echarts.init(document.getElementById('main'));
var option = {
    title: {
        text: '数据统计',
        subtext: '各功能数据统计',
        left: 'center'
    },
    tooltip: {
        trigger: 'item',
        formatter: '{a} <br/>{b} : {c}%'
    },
    legend: {
        type: 'scroll',
        orient: 'vertical',
        right: 10,
        top: 20,
        bottom: 20,
        data: [ '贷款申请率','订单通过率','贷款放款率'],
        selected: ['贷款申请率']
    },
    series: [
        {
            name: '',
            type: 'pie',
            radius: '55%',
            center: ['40%', '50%'],
            data: [
                {name:'贷款申请率',value:{% widthratio grant_pass orders 100 %}},
                {name:'订单通过率',value:{% widthratio audit_pass orders 100 %}},
                {name:'贷款放款率',value:{% widthratio grant_no grant_pass 100 %}},
                ],
            emphasis: {
                itemStyle: {
                    shadowBlur: 10,
                    shadowOffsetX: 0,
                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                }
            }
        }
    ]
};
c.setOption(option);
</script>