
<div class="chat-messages" id="chat-messages">
    {% for m in per_usermess %}
   <div id="chat-messages-inner">
       <div style="padding: 10px;">
           <span style="font-size: 14px;color: #CCCCCC;">{{ m.Uid.name }}:     </span><span style="font-size: 8px;color: #CCCCCC;">{{ m.Iid.i_time | date:"Y-m-d H:i"}}</span>
           <br>
           <span style="color: lightcoral;font-size: 22px;display:inline-block;padding: 10px;">{{ m.Iid.i_talk }}</span><br>
       </div>
   </div>
   {% endfor %}
    <!--  回显框   -->
<div id="chat-messages-inner">
       <div style="padding: 10px;">
{#           <span style="font-size: 14px;color: #CCCCCC;">{{ reply_obj.username  }}: </span>#}
{#           <br>#}
           <span style="color: lightcoral;font-size: 22px;display:inline-block;padding: 10px;">{{ msg }}</span><br>
       </div>
   </div>
</div>
